<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Master</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.Zerui.framepreferences</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DISPLAY ON</string>
			<key>footerText</key>
			<string>Please note that choosing "Lock Screen" or "Home Screen" requires that you set a different wallpaper for each in the system settings.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>both</string>
			<key>defaults</key>
			<string>com.Zerui.framepreferences</string>
			<key>key</key>
			<string>enabledScreens</string>
			<key>validValues</key>
			<array>
				<string>lockscreen</string>
				<string>homescreen</string>
				<string>both</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Lock Screen</string>
				<string>Home Screen</string>
				<string>Both</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VIDEOS</string>
			<key>footerText</key>
			<string>Please note that choosing a secondary video requires that you set a different wallpaper for each in the system settings.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose</string>
			<key>action</key>
			<string>presentChooseVC</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SETTINGS</string>
			<key>footerText</key>
			<string>Enable "Pause in Apps" to save battery.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.Zerui.framepreferences</string>
			<key>key</key>
			<string>isMute</string>
			<key>label</key>
			<string>Mute</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.Zerui.framepreferences</string>
			<key>key</key>
			<string>pauseInApps</string>
			<key>label</key>
			<string>Pause in Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>© Zerui Chen 2019</string>
		</dict>
	</array>
	<key>title</key>
	<string>| Frame |</string>
</dict>
</plist>
