<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Master</string>
			<key>footerText</key>
			<string>Enable "Disable on LPM" to automatically disable Frame on Low Power Mode.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.Zerui.framepreferences</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.Zerui.framepreferences</string>
			<key>key</key>
			<string>disableOnLPM</string>
			<key>label</key>
			<string>Disable On LPM</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WALLPAPERS</string>
			<key>footerText</key>
			<string>Enable "Pause in Apps" to save battery.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Wallpapers</string>
			<key>action</key>
			<string>presentChooseVC</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.Zerui.framepreferences</string>
			<key>key</key>
			<string>pauseInApps</string>
			<key>label</key>
			<string>Pause in Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MISC</string>
			<key>footerText</key>
			<string>This option allows you to change the ringer volume with the volume buttons when Frame is enabled, by syncing the ringer volume to the media volume.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.Zerui.framepreferences</string>
			<key>key</key>
			<string>syncRingerVolume</string>
			<key>label</key>
			<string>Sync Ringer Volume</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable this option if the folders'/dock's backgrounds appear fixed despite the video playing below them. It's side-effect is mild to serious lagging when editing homescreen. Requires a respring to apply.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.Zerui.framepreferences</string>
			<key>key</key>
			<string>fixBlur</string>
			<key>label</key>
			<string>Fix Blur</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FADE</string>
			<key>footerText</key>
			<string>Be fully absorbed in your video wallpaper as the home screen icons fade to a set transparency after a set period of inactivity.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.Zerui.framepreferences</string>
			<key>key</key>
			<string>fadeEnabled</string>
			<key>label</key>
			<string>Fade Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Fade Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.05</real>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>0.80</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>16</integer>
			<key>defaults</key>
			<string>com.Zerui.framepreferences</string>
			<key>key</key>
			<string>fadeAlpha</string>
			<key>label</key>
			<string>Fade Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Inactivity Duration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>4.0</real>
			<key>min</key>
			<real>1.0</real>
			<key>max</key>
			<real>10.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>9</integer>
			<key>defaults</key>
			<string>com.Zerui.framepreferences</string>
			<key>key</key>
			<string>fadeInactivity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>RESPRING</string>
			<key>footerText</key>
			<string>The cure to all UI bugs.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DONATION</string>
			<key>footerText</key>
			<string>Thank you for supporting my work!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Buy me a coffee! ($3.99)</string>
			<key>action</key>
			<string>openDonations</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>© Zerui Chen 2019-2020</string>
		</dict>
	</array>
	<key>title</key>
	<string>| Frame |</string>
</dict>
</plist>
