<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Master</string>
			<key>footerText</key>
			<string>Enable "Disable on LPM" to automatically disable Frame on Low Power Mode.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.Zerui.framepreferences</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.Zerui.framepreferences</string>
			<key>key</key>
			<string>disableOnLPM</string>
			<key>label</key>
			<string>Disable On LPM</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SETTINGS</string>
			<key>footerText</key>
			<string>Enable "Pause in Apps" to save battery.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Videos</string>
			<key>action</key>
			<string>presentChooseVC</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.Zerui.framepreferences</string>
			<key>key</key>
			<string>pauseInApps</string>
			<key>label</key>
			<string>Pause in Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>© Zerui Chen 2019-2020</string>
		</dict>
	</array>
	<key>title</key>
	<string>| Frame |</string>
</dict>
</plist>
